<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Mad Lips</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
      <div class='container'>
    <h1>Fill in the blanks with the appropriate words!</h1>
    <form action='/story'>
      <div class='form-group'>
        <label for='adj1'>Adjective</label>
        <input id='adj1' name='adj1' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='adj2'>Adjective</label>
        <input id='adj2' name='adj2' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='adj3'>Adjective</label>
        <input id='adj3' name='adj3' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='noun1'>Noun</label>
        <input id='noun1' name='noun1' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='noun2'>Noun</label>
        <input id='noun2' name='noun2' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='noun3'>Noun</label>
        <input id='noun3' name='noun3' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='p-noun1'>Plural Noun</label>
        <input id='p-noun1' name='p-noun1' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='p-noun2'>Plural Noun</label>
        <input id='p-noun2' name='p-noun2' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='p-noun3'>Plural Noun</label>
        <input id='p-noun3' name='p-noun3' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='p-noun4'>Plural Noun</label>
        <input id='p-noun4' name='p-noun4' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='game'>Game</label>
        <input id='game' name='game' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='ing-verb1'>-Ing Verb</label>
        <input id='ing-verb1' name='ing-verb1' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='ing-verb2'>-Ing Verb</label>
        <input id='ing-verb2' name='ing-verb2' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='ing-verb3'>-Ing Verb</label>
        <input id='ing-verb3' name='ing-verb3' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='ing-verb4'>-Ing Verb</label>
        <input id='ing-verb4' name='ing-verb4' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='plant'>Plant</label>
        <input id='plant' name='plant' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='body-part'>Body Part</label>
        <input id='body-part' name='body-part' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='place'>Place</label>
        <input id='place' name='place' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='number'>Number</label>
        <input id='number' name='number' class='form-control' type='text'>
      </div>


      <button type='submit' class='btn'>Make my lips!</button>
    </form>
    </div>
  </body>
</html>
